.schedule-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-bottom-left-radius: $border-radius-primary;
  border-top-left-radius: $border-radius-primary;
}
