.fancy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-primary;
    padding: 0 20px;
    height: 60px;
    width: 130px;
    font-size: $font-size-m;
    color: color(light);
    background-color: color(dark);
    box-shadow: $shadow-full;
}