@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
$font-family-primary: 'Antic Slab', serif;

@function px-to-rem($_size) {
    $rem-size: $_size / 16px;
    @return #{$rem-size}rem;
}

$font-size-s: px-to-rem(15px);
$font-size-sm: px-to-rem(20px);
$font-size-m: px-to-rem(25px);
$font-size-ml: px-to-rem(50px);
$font-size-l: px-to-rem(70px);
$font-size-xl: px-to-rem(100px);
$font-size-xxl: px-to-rem(140px);
