@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');

$font-family-primary: 'Scope One', serif;

@function px-to-rem($_size) {
    $rem-size: $_size / 16px;
    @return #{$rem-size}rem;
}

$font-size-s: px-to-rem(15px);
$font-size-m: px-to-rem(20px);
$font-size-l: px-to-rem(30px);
$font-size-xl: px-to-rem(100px);
