.fancy-input {
  $_parent: &;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;

  &.-smaller {
    #{$_parent}__input {
      font-size: $font-size-sm;

      &::placeholder {
        font-size: $font-size-sm;
        font-weight: bold;
      }
    }
  }

  &__input {
    font-family: monospace;
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid color(dark);
    font-size: $font-size-m;
    color: color(dark);

    &::placeholder {
      font-family: $font-family-primary;
      font-size: $font-size-sm;
      color: color(dark);
      background-color: color(light);
      font-weight: bold;
    }
  }
}
