.schedule-title {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;

  @include if-tablet {
    justify-content: center;
    padding: 0;
  }

  &__label-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__label {
    text-transform: uppercase;
    font-size: $font-size-sm;

    @include if-desktop-xl {
      font-size: $font-size-m;
    }

    &.-weekday {
      margin-top: $spacing-xs;

      @include if-desktop {
        font-size: $font-size-m;
      }

      @include if-desktop-xl {
        font-size: $font-size-ml;
      }
    }
  }

  &__day {
    margin-top: $spacing-xs;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    background-color: color(dark);
    border-radius: $border-radius-primary;
    font-size: $font-size-xl;
    color: color(light);

    @include if-desktop-xl {
      height: 180px;
      width: 180px;
      font-size: $font-size-xxl;

    }
  }

  &__button-box {
    padding: 0 15px 0 25px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: color(dark);
    border-bottom-left-radius: $border-radius-secondary;
    border-top-left-radius: $border-radius-secondary;
    box-shadow: $shadow-full;

    &:hover {
      cursor: pointer;
    }

    @include if-tablet {
      height: fit-content;
      padding: 20px;
      border-radius: $border-radius-primary;
    }
  }

  &__calendar-icon {
    margin-bottom: 40px;

    @include if-tablet {
      display: none;
    }
  }
}
