.schedule-title {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;

    &__label {
        text-transform: uppercase;

        &.-weekday {
            font-size: $font-size-l;
        }
    }

    &__day {
        font-size: $font-size-xl;
    }
}