.calendar {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: color(light);

  &__date-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $font-size-m;
    padding: 10px 20px;
    border-bottom: 1px solid color(light);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: color(dark);
    color: color(light);

    @include if-tablet {
      font-size: $font-size-ml;
      padding: 30px 20px;
    }

    @include if-desktop {
      padding: 30px 50px;
    }

    @include if-desktop-xl {
      font-size: $font-size-l;
      padding: 30px 70px;
    }
  }

  &__label {
    margin-top: 5px;
  }

  &__calendar-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
  }

  &__weekday {
    width: 100%;
    font-size: $font-size-sm;
    color: color(light);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: color(dark);

    @include if-tablet {
      font-size: $font-size-m;
    }
  }

  &__day {
    font-size: $font-size-sm;
    padding: 5px 10px;
    text-decoration: none;
    color: color(dark);

    &.-blank {
      visibility: hidden;
    }

    @include if-tablet {
      font-size: $font-size-ml;
    }

    @include if-desktop-xl {
      font-size: $font-size-l;
    }
  }

  &__button {
    display: flex;
    border: none;
    background-color: color(dark);

    &:hover {
      cursor: pointer;
    }
  }
}
