.event-card {
  display: flex;
  flex-direction: column;
  padding: 15px $spacing-s $spacing-sm $spacing-s;
  background-color: color(dark);
  color: color(light);
  margin-bottom: $spacing-s;
  box-shadow: $shadow-bottom;
  overflow: hidden;

  &.-first {
    border-top-left-radius: $border-radius-primary;
  }
  &.-last {
    border-bottom-left-radius: $border-radius-primary;
  }

  @include if-tablet {
    padding: $spacing-sm $spacing-m $spacing-sm $spacing-m;
  }

  @include if-desktop {
    margin-bottom: $spacing-m;
  }

  &__title-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__time {
    font-size: $font-size-m;
    text-align: center;

    @include if-desktop-xl {
      font-size: $font-size-ml;
    }
  }

  &__title {
    font-size: $font-size-sm;
    text-transform: uppercase;

    @include if-desktop-xl {
      font-size: $font-size-m;
    }
  }

  &__about {
    font-size: $font-size-s;
    font-style: italic;

    @include if-desktop-xl {
      font-size: $font-size-sm;
    }
  }
}
