.schedule {
    display: flex;
    flex-direction: column;

    @include if-tablet {
        width: 40vw;
        margin-left: auto;
    }

    @include if-desktop {
        width: 35vw;
    }

    &__title {
        display: flex;
        justify-content: center;
        height: 40vh;
    }

    &__body {
        height: 100%;
        padding-left: $spacing-md;
    }
}